* {
  font-family: 'Noto Serif';
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.wrapper .sidebar {
  background: #302722;
  position: fixed;
  top: 0;
  left: 0;
  width: 290px;
  height: 100%;
  padding: 10px 0;
  transition: all 0.5s ease;
}

.vertical-line {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 0px;
  margin-left: -4%;
  border-style: dashed;
  border-width: 1px;
  color: #6b625d;
}


.wrapper .sidebar .profile img {
  display: block;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  background-color: transparent;
  margin-left: 36%;
  margin-top: 12%;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 5px 70px;

  color: #d1bbaa;
  font-size: 17px;
  position: relative;
  font-family: 'Noto Serif';
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 20px;
  display: inline-block;
  margin-left: 0;
}

body {
  background: #302722;
  font-family: 'Noto Serif';
  line-height: 1.75;
  color: #d1bbaa;
  max-width: 45%;
  float: right;
  margin-right: 23%;
  word-wrap: break-word;
  width: fit-content;
  font-weight: 100;
}


section.h1 h1{
  font-size: 46px;
  line-height: 66px;
  width: 900x;
  padding-top: 35px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

.teksteronder{
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 100;
}

.dikgedruktacco {
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}
.hyperlinks-row {
  display: flex;
  align-items: center;
  
}



.hyperlinks-row {
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
}



.hyperlinks {
  margin-right: -90px; 
margin-top: 200px;
color: #6b625d !important;

}

.hyperlinks:hover{
color: #d1bbaa !important;
}

.hyperlinks:last-child {
  margin-right: 0;
}


.accommodatie-list{
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 100;
  margin-right: 5px;
}

section.accommodatie{
  margin-right: 20%;
}



.accommodatie-list li {
  font-size: 18px;
  position: relative;
  padding-left: 0px;
  margin-bottom: 10px;
}

.accommodatie-subtitle{
  font-size: 22px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  margin-top: 7px;                                        
  margin-bottom: 50px;
  block-size: 25px;
}

.accommodatie-descriptioneen {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 100;
}

.accommodatie-descriptiontwee{
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 100;
}

.bestuurdik{
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}



.section.bestuur {
  width: 80%; 
  margin-left: 0%;
}


.section.bestuur th {
  text-align: left; 
  padding-right: 150px; 
  margin-left: -20px;
  font-size: 18px;
  font-weight: 100;
}

.section.bestuur td{
  text-align: right;
  font-size: 18px;
  display: inline-block;

}


.lessendik{
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  margin-top: 17px;
}

.section-lessen{
  margin-top: 60px;
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 100;

}


.groenbalkje {
  
    border: 2px dashed #396a1d; 
    background-color: #527838; 
    padding: 8px;
    border-radius: 10px; 
    margin-top: -45px;
  
}

.groenbalkjetekst {
  font-size: 18px;
  color:whitesmoke;
  font-weight: 100;

}

.afsprakendik{
  font-size: 26px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  
  
}

.afmeldenlessen{
  margin-top: -20px;
  font-size: 18px;
  font-weight: 100
}

.lesindelingdik{
  font-size: 26px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

.tenzijanders{
  margin-top: -28px;
  font-size: 18px;
  font-weight: 100;
  
}

.dikvrijdag{
  font-weight: 200;
}


.strandwandelingimg {
  margin-top: 50px; 
}

.wedstrijdendik{
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  margin-top: 17px;
}

.officielewedstrijden{
  font-size: 21px;
  font-weight: 200;
}

.bordered td {
  padding: 15px; 
  border: 1px dashed #6b625d;
  font-size: 18px;
}

.bordered {
  width: fit-content;
  margin: 0 auto;
  margin-left: -2px;
}

.column-container {
  display: flex;
  justify-content: center;
}

.opgeven-text {
 
  font-size: 18px;
  font-weight: 100
}

.linkknhs {
  font-size: 18px;
  font-weight: 100;
  color: #d1bbaa;
}

.onderlingedik{
  font-size: 21px;
  font-weight: 200;
}

.opgevenvia{
margin-bottom: 12px;
  font-size: 18px;
  font-weight: 100
}

.mailemma{
  font-size: 18px;
  font-weight: 100;
  color: #d1bbaa;
 margin-bottom: -12px;
}


.tabelonderling td {
  padding: 2px;
  border: 1px dashed #6b625d;
  font-size: 18px;
  width: 270px;
 
}

.tabelonderling {
  border-collapse: collapse;
  margin: 0 auto;
  margin-left: -2px;
  height: 200px;
}

.wedstrijd-info {
  
 
  font-size: 18px;
  font-weight: 100
}


.sponsorsdik{
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
 
  
}

.sponsorimg{
  margin-top: -70px;
  padding-bottom: 70px;
}

.lidmaatschapdik{
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
 
}

.lidmaatschaptekst{
  font-size: 18px;
  font-weight: 100
}

.knhslink2{
  font-size: 18px;
  font-weight: 100;
  color:#d1bbaa;
}

.prijzenoverzichtdik{
  font-size: 25px;
  font-weight: 200;
  margin-top: 30px;
  height: 16px;
}


.prijzenoverzicht{
  font-size: 18px;
  font-weight: 100;
  margin-top: -22x;
}

.geschiedenis{
  font-size: 18px;
  font-weight: 100;
}


.dikgeschiedenis{
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
 
}