
*{
 


  font-family: 'Noto Serif';
  
}
ul li {
  list-style-type: none;}

ul li a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


.wrapper .sidebar{
  background: #302722;
  position: fixed;
  top: 0;
  left: 0;
  width: 290px;
  height: 100%;
  padding: 10px 0;
  transition: all 0.5s ease;
  
}

.wrapper .sidebar .profile img{
  display: block;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  background-color: transparent;
  margin-left: 36%;
  margin-top: 12%;
  
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 4px 30px;
  margin: left 20%;
  color:#d1bbaa;
  font-size: 17px;
  position: relative;
  font-family: 'Noto Serif';
  
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 20px;
  display: inline-block;
  margin-left: 20%;
  font-family: 'Noto Serif';
  list-style: none;
}





body {
    background: #302722; 
    font-family: 'Noto Serif';
    line-height: 1.75;
    color: #d1bbaa;
    max-width: 45%;
    float:right;
    margin-right: 23%;
    word-wrap: break-word;
    width: fit-content;
    font-weight: 100;
    
}


section.h1 h1{
  font-size: 46px;
  line-height: 66px;
  width: 900x;
  padding-top: 35px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

.teksteronder{
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 100;
}

.dikgedruktacco {
  font-size: 40px;
  line-height: 66px;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}



.accommodatie-list{
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 100;
  margin-left: 40px;
}

section.accommodatie{
  margin-right: 20%;
}



.accommodatie-list li {
 
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}
